<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 名称空间有特殊的用途 -->
<mapper namespace="menu">
<resultMap id="BaseResultMap" type="com.bank.beans.Menu" >
  <id column="MENU_ID" property="menuId" jdbcType="INTEGER" />
  <result column="MENU_DESCR" property="menuDescr" jdbcType="VARCHAR" />
  <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR" />
  <result column="MENU_PID" property="menuPid" jdbcType="INTEGER" />
  <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
  <result column="ISLEAF" property="isLeaf" jdbcType="CHAR" />
</resultMap>
<resultMap id="MenuResultMap" type="com.bank.vo.MenuPrivilegeVO" >
  <id column="menu_id" property="menuId" jdbcType="VARCHAR" />
  <result column="menu_descr" property="menuDescr" jdbcType="VARCHAR" />
  <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
  <result column="menu_pid" property="menuPId" jdbcType="VARCHAR" />
  <result column="is_leaf" property="isLeaf" jdbcType="VARCHAR" />
  <result column="privilege_id" property="privilegeId" jdbcType="VARCHAR" />
  <result column="privilege_type" property="privilegeType" jdbcType="VARCHAR" />
  
</resultMap>
<sql id="Base_Column_List" >
  menu_id, menu_name, menu_descr, menu_url, menu_pid, isleaf
</sql>

<select id="findByPK" parameterType="string"
resultMap="BaseResultMap">
   SELECT 
   <include refid="Base_Column_List"/>
   FROM T_SYS_MENU WHERE menu_id = #{menuId}
</select>

<insert id="save" useGeneratedKeys="true" parameterType="com.bank.beans.Menu">
	<!-- <selectKey resultType="long" order="BEFORE" keyProperty="id">
      SELECT T_SYS_MENU_SN.NEXTVAL FROM DUAL
    </selectKey> -->
  insert into T_SYS_MENU(menu_name, menu_descr, menu_url, menu_pid, isleaf) 
  values(#{menuName}, #{menuDescr}, #{menuUrl}, #{menuPid}, #{isLeaf})
</insert>

<insert id="menu.insertSelective" parameterType="com.bank.beans.Menu">
  insert into T_SYS_MENU
  <trim prefix="(" suffix=")" suffixOverrides=",">
  	<if test="menuId != null">
  		menu_id,
  	</if>
  	<if test="menuName != null">
  		menu_name,
  	</if>
  	<if test="menuDescr != null">
  		menu_descr,
  	</if>
  	<if test="menuUrl != null">
  		menu_url,
  	</if>
  	<if test="menuPid != null">
  		menu_pid,
  	</if>
  	<if test="isLeaf != null">
  		isleaf,
  	</if>
  </trim>	
  <trim prefix="values (" suffix=")" suffixOverrides=",">
  	<if test="menuId != null">
  		#{menuId,jdbcType=INTEGER},
  	</if>
  	<if test="menuName != null">
  		#{menuName,jdbcType=VARCHAR},
  	</if>
  	<if test="menuDescr != null">
  		#{menuDescr,jdbcType=VARCHAR},
  	</if>
  	<if test="menuUrl != null">
  		#{menuUrl,jdbcType=VARCHAR},
  	</if>
  	<if test="menuPid != null">
  		#{menuPid,jdbcType=INTEGER},
  	</if><if test="isLeaf != null">
  		#{isleaf,jdbcType=CHAR},
  	</if>
  </trim>
</insert>

<update id="update" parameterType="com.bank.beans.Menu">
	update T_SYS_MENU set menu_name = #{menuName}, menu_descr = #{menuDescr}, menu_Url = #{menuUrl}, menu_Pid = #{menuPid}, isleaf = #{isLeaf}  where menu_id = #{menuId}
</update>

<insert id="delete" parameterType="string">
  delete T_SYS_MENU where menu_id = #{menuId}
</insert>

<select id="all" resultMap="BaseResultMap">
   SELECT menu_id, menu_name, menu_descr, menu_url, menu_pid, isleaf FROM T_SYS_MENU 
</select>

<resultMap id="menutreeList" type="java.util.HashMap">
    <result column="menu_id" property="menuId" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_pid" property="menuPid" jdbcType="VARCHAR" />
    <result column="menu_descr" property="menuDescr" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="isleaf" property="isleaf" jdbcType="VARCHAR" />
    <result column="iconCls" property="iconCls" jdbcType="VARCHAR" />
</resultMap>

<select id="menu.menutree" resultMap="menutreeList">
   SELECT menu_id, menu_name, menu_descr, menu_url, menu_pid, isleaf, decode(isleaf, '0', 'icon-add', '1', 'icon-edit') iconCls FROM T_SYS_MENU 
</select>

<select id="getTopMenusByUserId" resultMap="MenuResultMap">
   SELECT distinct m.menu_id,m.menu_descr,m.menu_url,m.is_leaf,
   m.menu_pid,p.privilege_id,p.privilege_type 
   FROM t_menu_privilege mp,t_sys_menu m,t_privilege p,t_user_role r
   WHERE
   mp.privilege_id=p.privilege_id
   and mp.role_id=r.role_id
   and mp.menu_id=m.menu_id
   and m.menu_pid = 0
   and r.user_id=#{userId}
   order by m.menu_id 
</select>
<select id="getSubMenusByCondition" resultMap="MenuResultMap">
   select distinct m.menu_id,m.menu_descr,m.menu_url,m.is_leaf,
   m.menu_pid,p.privilege_id,p.privilege_type 
   from t_menu_privilege mp,t_sys_menu m,t_privilege p,t_user_role r
   where
   mp.privilege_id=p.privilege_id
   and mp.role_id=r.role_id
   and mp.menu_id=m.menu_id
   and m.menu_pid = #{parMenuId}
   and r.user_id=#{userId}
   order by m.menu_id 
</select>


<resultMap id="privilegeChecklist" type="java.util.HashMap">
    <result column="privilege_id" property="privilegeId" jdbcType="VARCHAR" />
    <result column="privilege_type" property="privilegeType" jdbcType="VARCHAR" />
    <result column="checked" property="checked" jdbcType="VARCHAR" />
</resultMap>

<select id="menu.privilegeCheckTree" resultMap="privilegeChecklist" parameterType="map">
  select a.*, (select 'true' checked from T_MENU_PRIVILEGE b where a.PRIVILEGE_ID = b.PRIVILEGE_ID 
 and b.ROLE_ID = ${roleId} and b.MENU_ID=#{menuId}
 ) checked from T_PRIVILEGE a
</select>
</mapper>