<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="com.bank.beans.User" alias="User"/>
		<typeAlias type="com.bank.beans.Organ" alias="Organ"/>
		<typeAlias type="com.bank.beans.Menu" alias="Menu"/>
		<typeAlias type="com.bank.beans.Role" alias="Role"/>
		<typeAlias type="com.bank.beans.UserRole" alias="UserRole"/>
		<typeAlias type="com.bank.beans.Privilege" alias="Privilege"/>
		<typeAlias type="com.bank.beans.Role" alias="Role"/>
		<typeAlias type="com.bank.beans.MenuPrivilege" alias="MenuPrivilege"/>
		<typeAlias type="com.bank.beans.Company" alias="Company"/>
		<typeAlias type="com.bank.beans.CompanyCapital" alias="CompanyCapital"/>
		<typeAlias type="com.bank.beans.CompanyEmployee" alias="CompanyEmployee"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="model/User.xml" />
		<mapper resource="model/Organ.xml"/>
		<mapper resource="model/Menu.xml"/>
		<mapper resource="model/Privilege.xml"/>
		<mapper resource="model/Role.xml" />
		<mapper resource="model/UserRole.xml" />
		<mapper resource="model/MenuPrivilege.xml" />
		<mapper resource="model/Company.xml" />
		<mapper resource="model/CompanyCapital.xml" />
		<mapper resource="model/CompanyEmployee.xml" />
	</mappers> 


</configuration>