<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="com.bank.beans.User" alias="User"/>
		<typeAlias type="com.bank.beans.Organ" alias="Organ"/>
		<typeAlias type="com.bank.beans.Menu" alias="Menu"/>
		<typeAlias type="com.bank.beans.Role" alias="Role"/>
		<typeAlias type="com.bank.beans.Privilege" alias="Privilege"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="model/User.xml" />
		<mapper resource="model/Organ.xml"/>
		<mapper resource="model/Menu.xml"/>
		<mapper resource="model/Privilege.xml"/>
	</mappers> 


</configuration>