<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 别名 -->
	<typeAliases>
		<typeAlias type="com.bank.beans.User" alias="User"/>
		<typeAlias type="com.bank.beans.Organ" alias="Organ"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="sqlmap/User.xml" />
		<mapper resource="sqlmap/Organ.xml"/>
	</mappers> 


</configuration>