.accMain{
	width:200px;
	background-image:url(nav/lbox_middlecenter.jpg);
	background-repeat:repeat-y;
}
/*nav_accordtion结构*/
.arrowlistmenu{
width: 98%;
}
div.menuheader a{
	color:#ffffff;
}
div.menuheader a:hover{
	color:#ffffff;
}
.arrowlistmenu div{
	margin:0;
	padding:0;
	font-weight:bold;
}
.arrowlistmenu .menuheader{
color: #ffffff;
background-image:url(nav/titlebar.jpg);
background-repeat:no-repeat;
padding: 0px; 
cursor: hand;
cursor: pointer;
height:33px!important;
line-height:33px;
text-indent:22px;
position:relative;
}
.arrowlistmenu .openheader{ 
background-image: url(nav/titlebar-active.jpg);
color:white;
height:33px!important;
}
.arrowlistmenu ul{ 
list-style-type: none;
margin: 0;
padding: 0;
background-image: url(nav/titlebar_conBg.jpg);
background-repeat:no-repeat;
background-position:0% 100%;
}
.arrowlistmenu ul li{
padding-bottom: 2px; 
}
.arrowlistmenu ul li a{
color:#ffffff;
display: block;
text-decoration: none;
width:100%;
}
.arrowlistmenu ul li a:hover{ 
	text-decoration:none;
	color:#d8ff00;
}
.arrowlistmenu ul li li{
	font-weight:normal;
	padding-left:15px;
}
.arrowlistmenuCurrent{
color:#d8ff00!important;
font-weight:bold;
}
.arrowlistmenuCurrent a{
	color:#d8ff00!important;
}
.arrowlistmenu ul li ul{
	background-image:none;
}
.arrowlistmenu .hasChildren span{
	background: url(nav/nolines_plus.gif) no-repeat;
	background-position:3px 4px; 
	display: block;
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 19px; 
}
.arrowlistmenu .noChildren span{
	background: url(nav/arrowbullet.gif) no-repeat;
	background-position:3px 4px; 
	display: block;
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 19px; 
}
.arrowlistmenu  .spanParentStyle{
	background: url(nav/nolines_plus.gif) no-repeat;
	background-position:3px 4px; 
	display: block;
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 19px; 
}
.arrowlistmenu  .spanStyle{
	background: url(nav/arrowbullet.gif) no-repeat!important;
	background-position:3px 4px!important; 
	display: block;
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 19px; 
}
.normal_icon1{background-image:url(navMenu/icon01.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:7px;}
.normal_icon2{background-image:url(navMenu/icon02.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:7px;}
.normal_icon3{background-image:url(navMenu/icon03.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:7px;}
.normal_icon4{background-image:url(navMenu/icon04.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:7px;}
.normal_icon5{background-image:url(navMenu/icon05.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:7px;}
.normal_icon6{background-image:url(navMenu/icon06.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:7px;}
.normal_icon7{background-image:url(navMenu/icon07.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:7px;}
.normal_icon8{background-image:url(navMenu/icon08.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:7px;}
.normal_icon9{background-image:url(navMenu/icon09.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:7px;}
/*nav_accordtion结构*/

/*nav_icon_v结构*/
.nav_icon_v_item{
	
}
.nav_icon_v_item img{
	height:40px;
	width:40px;
}
.nav_icon_v_item a{
	text-align:center;
	margin:5px auto!important;
	display:block;
	width:100px;
	border:solid 1px #67b1f1;
	color:#c1e4fa;
}
.nav_icon_v_item a:hover{
	border:solid 1px #0754a9;
	background-image: url(nav/titlebar_iconBg.jpg);
	background-repeat: repeat-x;
	text-decoration:none;
	color:#ffffff;
}
.nav_icon_v_item_text{
	font-weight:normal!important;
}
.nav_icon_v_item_text .text_slice{
	width:100px;
}
.categoryitems .current{
	border:solid 1px #0754a9;
	background-image: url(nav/titlebar_iconBg.jpg);
	background-repeat: repeat-x;
	text-decoration:none;
	color:#ffffff;
}
/*nav_icon_v结构*/