@CHARSET "UTF-8";
*{margin:0;padding:0;text-decoration:none}
body{overflow-x:hidden}
li{

 float:left;
 margin-left:5px;
 list-style-type:none;
 width:80px;
 height:30px;
 text-align:center;
 line-height:28px;
 color:black;
 background-repeat:no-repeat
 }
.topMenu {
 height:33px;
 border-bottom:1px solid orange
 }
.topMenu ul{
	margin-top:3px;
}
.inactive{
	border:1px solid orange;
	font-size: 12px;
	font-family: YouYuan;
	color:white;
	background:#ffffcc;
	border-bottom:0px;
	}
.inactive a{
	color:black
}
.active{
	border-bottom:0px;
	border:1px solid orange;
	font-size: 15px;
	font-family: YouYuan;
	font-weight: bold;
	color:white;
 	float:left;
 	list-style-type:none;
 	text-align:center;
 	height:32px;
	background:orange
}
.mini-panel-border{
border-color:#D2D2D2;
}
.mini-grid-headerCell-nowrap{
background:white
}
.mini-grid-headerCell{
background:white;
border-top:0px;
border-color:#D2D2D2
}
.mini-grid-headerCell-inner{
font-family:"仿宋_GB2312";
font-size:12pt;
}
.mini-grid-column-splitter{
background:white
}
.mini-grid-pager{
background:white
}
topMenu{
    /* IE6 & IE7 */
	filter: progid:DXImageTransform.Microsoft.gradient( GradientType= 0 , startColorstr = '#6DC8E3', 
	endColorstr = 'white' ); 
	/* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#6DC8E3', 
	endColorstr = 'white' )"; 
	background:linear-gradient(#6DC8E3,white);
}
.topMenu table{
	margin:auto auto;
	height:60px
}
saveBtn{
	width:100px;
	height:25px;
	border:0;
	background:url(/bank/images/save.png) no-repeat
}
#backBtn{
	width:100px;
	height:25px;
	border:0;
	background:url(/bank/images/back.png) no-repeat
}
.addBtn{
	width:100px;
	height:25px;
	border:0;
	background:url(/bank/images/add.png) no-repeat
}
.bank-btn{
	width:82px;
color:white;
font-weight:bold;
height:30px;
border:0;
background:url(/bank/images/query.png) no-repeat
}
.bank-btn:hover{
width:82px;
color:white;
font-weight:bold;
height:30px;
border:0;
cursor:pointer;
background:url(/bank/images/query-on.png) no-repeat
}
.small_delbtn{
	width:20px;
	height:20px;
	border:0;
	background:url(/bank/images/s_delbtn.png) no-repeat
}
.labelName{font-size:15px;font-weight:bold;color:black;}
.labelValue{font-size:15px;font-weight:bold;color:red;}
.required_text,.errorText{color:red}
.required_text{text-align:right}