.accMain{
	width:200px;
}
/*nav_accordtion结构*/
.arrowlistmenu{
width: 98%;
}
div.menuheader a{
	color:#03509e;
}
.arrowlistmenu div{
	margin:4px 0 4px 0;
	padding:0;
	font-weight:bold;
}
.arrowlistmenu .menuheader{
color: #03509e;
background: white url(nav/titlebar.jpg) repeat-x center left;
padding: 4px 0 4px 10px; 
cursor: hand;
cursor: pointer;
border:solid 1px #b7cce7;
height:16px!important;
position:relative;
text-indent:15px;
}
.arrowlistmenu .openheader{ 
background-image: url(nav/titlebar-active.jpg);
color:white;
height:16px!important;
border:1px solid #008eda!important;
}
.arrowlistmenu ul{ 
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 8px; 
background-color:white;
}
.arrowlistmenu ul li{
padding-bottom: 2px; 
}
.arrowlistmenu ul li a{
background-color:white;
color:#000000;
display: block;
text-decoration: none;
border-bottom: 1px solid #dadada;
width:100%;
}
.arrowlistmenu ul li a:hover{ 
background: url(nav/titlebar_itemBg.jpg) no-repeat!important;
background-position:10px 0!important; 
color:black;
text-decoration:none;
}
.arrowlistmenu ul li li{
	font-weight:normal;
	padding-left:15px;
}
.arrowlistmenuCurrent{
	background: url(nav/titlebar_itemBg.jpg) no-repeat!important;
	background-position:10px 0!important; 
}
/*
.arrowlistmenu ul li span{
	background: url(nav/arrowbullet.png) no-repeat;
	background-position:3px 4px; 
	display: block;
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 19px; 
}
*/
.arrowlistmenu .hasChildren span{
	background: url(nav/nolines_plus.gif) no-repeat;
	background-position:3px 4px; 
	display: block;
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 19px; 
}
.arrowlistmenu .noChildren span{
	background: url(nav/arrowbullet.jpg) no-repeat;
	background-position:3px 4px; 
	display: block;
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 19px; 
}
.arrowlistmenu  .spanParentStyle{
	background: url(nav/nolines_plus.gif) no-repeat;
	background-position:3px 4px; 
	display: block;
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 19px; 
}
.arrowlistmenu  .spanStyle{
	background: url(nav/arrowbullet.jpg) no-repeat!important;
	background-position:3px 4px!important; 
	display: block;
	padding-top:3px;
	padding-bottom:3px;
	padding-left: 19px; 
}
.normal_icon1{background-image:url(navMenu/icon01.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:5px;}
.normal_icon2{background-image:url(navMenu/icon02.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:5px;}
.normal_icon3{background-image:url(navMenu/icon03.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:5px;}
.normal_icon4{background-image:url(navMenu/icon04.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:5px;}
.normal_icon5{background-image:url(navMenu/icon05.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:5px;}
.normal_icon6{background-image:url(navMenu/icon06.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:5px;}
.normal_icon7{background-image:url(navMenu/icon07.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:5px;}
.normal_icon8{background-image:url(navMenu/icon08.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:5px;}
.normal_icon9{background-image:url(navMenu/icon09.png);background-repeat:no-repeat;display:block;width:18px;height:16px;position:absolute;left:2px;top:5px;}

/*nav_accordtion结构*/

/*nav_icon_v结构*/
.nav_icon_v_item{
}
.nav_icon_v_item img{
	height:40px;
	width:40px;
}
.nav_icon_v_item a{
	text-align:center;
	margin:5px auto!important;
	display:block;
	width:100px;
	border:solid 1px #ffffff;
}
.nav_icon_v_item a:hover{
	border:solid 1px #adb9c2;
	background-image: url(nav/titlebar_iconBg.jpg);
	background-repeat: repeat-x;
	text-decoration:none;
	color:black;
}
.nav_icon_v_item_text{
	font-weight:normal!important;
}
.nav_icon_v_item_text .text_slice{
	width:100px;
}
.categoryitems .current{
	border:solid 1px #adb9c2;
	background-image: url(nav/titlebar_iconBg.jpg);
	background-repeat: repeat-x;
	text-decoration:none;
	color:black;
}
/*nav_icon_v结构*/